
/* Global vars */
:root {
  /* Fonts */
  --font-h1: 'blood_crowregular';
  --font-buttons: 'pieces_of_eightregular';

  /* Colors */
  --section-bgcolor: rgba(220, 220, 220, 0.7);
  --h1-color: rgb(38, 15, 77);
  /* --header-text-shadow: rgb(220, 200, 200);
  --nav-background: linear-gradient(90deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(220,220,220,1) 100%); */
}
@media screen {
  :root {
    --adaptive-width: 90%;
  }
}
@media screen and (min-width: 800px) {
  :root {
    --adaptive-width: 30%;
  }
}

/* Fonts */
@font-face {
  font-family: 'blood_crowregular';
  src: url('./assets/fonts/bloodcrow-webfont.woff2') format('woff2'),
       url('./assets/fonts/bloodcrow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pieces_of_eightregular';
  src: url('./assets/fonts/pieces_of_eight-webfont.woff2') format('woff2'),
       url('./assets/fonts/pieces_of_eight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Animations */
/* @keyframes horizontal-unfolding {
  from {    
    width: 0%;
  }
} */






/* CSS properties */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  background: url("./assets/img/sea_cave_cthulhu.jpg") center no-repeat fixed;
  /* background: black; */
}

#page-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main, footer {
  background: var(--section-bgcolor);
  border-radius: 1vw;
  padding: 2vmin;
  margin: 1vmin;
  max-width: 100vw;
  
  /* animation-name: horizontal-unfolding;
  animation-duration: 1s;
  animation-timing-function: ease-out; */

  /* width: var(--adaptive-width); */
}

h1 {
  font-family: var(--font-h1);
  font-size: 3rem;
  color: var(--h1-color);
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  /* width: 10vmin; */
  padding: 2vmin;
  margin: 1vmin;

}
main {
  flex: 1;
  /* min-width: 30%; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 10vh;
  padding: 0;
  background: none;
}
.tool-button {
  font-family: var(--font-buttons);
  font-size: 2rem;
  display: block;
  width: 100%;
  padding: 1vmin;
  margin: 1vmin;
}

.footer-button {
  font-family: var(--font-buttons);
  font-size: 1.2rem;
  padding: 1vmin;
  margin: 1vmin;
}



/* Section for default stuff to apply to tools */

.default-container {
  display: flex;
  flex-flow: row nowrap;
  font-family: var(--font-buttons);
}
.default-font {
  font-family: var(--font-buttons);
  font-size: 1.3em;
}





/* Section for tools */


/* DICE ROLLER */

#diceRoller-container {
  display: flex;
  flex-flow: row nowrap;
  font-family: var(--font-buttons);
}
#diceRoller-buttons-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
}
#diceRoller-log-container {
  /* flex-grow: 4; */
  min-width: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 2em;
}
#diceRoller-current-roll-div {
  font-size: 4em;
  color: rgb(243, 189, 11);      
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.diceRoller-buttons {
  font-family: var(--font-buttons);
  font-size: 2em;
  width: 100%;
}




/* FULL AUTO CALCULATOR */

#fullAutoCalc-container {  
  font-family: var(--font-buttons);
  font-size: 1em;
}
#fullAutoCalc-input-container {
  display: flex;
  flex-flow: column nowrap;
}
.fullAutoCalc-input-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.fullAutoCalc-labels {
  font-size: 1.3em;
  margin: 0 0 0 0;
}
.fullAutoCalc-inputs {
  text-align: center;
  max-width: 3em;
  margin: 0 0 0 0;
}
#fullAutoCalc-targets-table {
  display: flex;
  flex-flow: column nowrap;
  margin: 1em 0 0 0;
}
#fullAutoCalc-labels-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;  
}
#fullAutoCalc-target-input-fields-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.fullAutoCalc-target-input-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 0 0 0.5em 0;
}
.fullAutoCalc-inputs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
#fullAutoCalc-target-delete-button {
  width: 1.3em;
}
#fullAutoCalc-add-target-button {
  margin: 0.5em 0 0 0;
}
#fullAutoCalc-calculate-button {
  margin: 1.3em 0 1.3em 0;
}
#fullAutoCalc-results-div {
  display: flex;
  flex-flow: column nowrap;
}
.fullAutoCalc-log-p {
  font-size: 1.4em;
}