* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

@font-face {
  font-family: 'blood_crowregular';
  src: url('./assets/fonts/bloodcrow-webfont.woff2') format('woff2'),
       url('./assets/fonts/bloodcrow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pieces_of_eightregular';
  src: url('./assets/fonts/pieces_of_eight-webfont.woff2') format('woff2'),
       url('./assets/fonts/pieces_of_eight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




body {
  background: url("./assets/img/sea_cave_cthulhu.jpg") center no-repeat fixed;
}


#page-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header, main, footer {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1vw;
  padding: 2vmin;
  margin: 1vmin;
}

h1 {
  font-family: 'blood_crowregular';
  font-size: 10vmin;
}

main {
  flex: 1;
  min-width: 30%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

footer {
  display: flex;
  flex-flow: row wrap;
  min-height: 10vh;
}

.tool-button {
  font-family: 'pieces_of_eightregular';
  font-size: 5vmin;

  display: block;
  width: 100%;
  padding: 1vmin;
  margin: 1vmin;

}